<div class="container mt-4 d-flex align-items-center flex-column">
  <h1 class="mb-4">I am the answer page</h1>

<div class="card" style="width:30%;">
  <div class="card-body">
  <h2>Question</h2>
  <p>
    <%= @question %>
  </p>
  </div>
</div>

<div class="card" style="width:30%;">
  <div class="card-body">
    <h2>Answer</h2>
    <p>
      <%= @answer %>
    </p>
  </div>
</div>


  <%= link_to 'Ask page', ask_path, class: 'btn btn-primary mt-4'%>
</div>
